<form class="example-form">
	<table class="example-full-width" cellspacing="0">
		<tr>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="First name">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Last Name ">
				</mat-form-field>
      </td>
      <td>
				<mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Date of birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
      </td>
      <td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Adhar No">
				</mat-form-field>
      </td>
		</tr>
	</table>

	<p>
       <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Father's name ">
          </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mother's name ">
          </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Age">
          </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Marital Status">
          </mat-form-field>
      </td>
	</p>

	<table class="example-full-width" cellspacing="0">
		<tr>
        <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Profession">
            </mat-form-field>
        </td>
      <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Sex">
            </mat-form-field>
      </td>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="City">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="State">
				</mat-form-field>
			</td>
    </tr>
    <tr>
       <p> <td>   
            <mat-form-field class="example-full-width">
             <textarea matInput placeholder="Address"></textarea>
             </mat-form-field>
      </td> 
    </p>
    </tr>
    <tr>
       <button mat-button color="primary" type="submit" class="profielBtn">Save</button>
    </tr>
	</table>
</form>