h3{
  color: azure;
  text-align: left;
  font-family: Verdana;
  padding: 15px;
  border-bottom: 1px ;
  
} 
.mainwrap {
  background-image:url('../../assets/one-doc-login.png');
   width: 100%;
   height: -webkit-fill-available;
   opacity: .7;
} 
.wrap{
  width: 350px;
  background-attachment: rgba(0,0,0,0.5);
  margin-top: 10px;
  box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
  position: absolute;
  z-index: 50;
  box-align: left;
  margin-top: 230px;
  margin-left: 10px;
  padding-left: 60px;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
  height: 210px;
}
.wrap h3 {
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}
.wrap .inputBox{
  position: relative;
}
.wrap .inputBox input{
  width: 100%;
  padding :10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.wrap .inputBox input[type="submit"]{
border: 2px;
outline:2px;
height: 30px;
color: #fff;
width: 100px;
font-size: 16px;
background: blueviolet;
}
